/build/
.settings/
.factorypath
csv/
*.log
*.log.*
.classpath
.project

# Maven
target/
OrientDB-API/target

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea

# eclipse project file
OrientDB-API/.settings/
OrientDB-API/.classpath
OrientDB-API/.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
